* {
  font-family: "Geist", sans-serif;
}


.priority-high {
  background-color: #fff1f2;
  color: #ff5a5f;
  border: 1px solid #ffe4e6;
}

.priority-low {
  background-color: #f3f4f6;
  color: #8b949e;
  border: 1px solid #e5e7eb;
}

.tag-bug {
  background-color: #fff1f2;
  color: #ff5a5f;
  border: 1px solid #ffe4e6;
}

.tag-help {
  background-color: #fff9eb;
  color: #d97706;
  border: 1px solid #fde68a;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}